// Size for logo and click icon at mobile size
$mobile-icons-size: 4em;

.logo {
  text-indent: -9999px;
  display: inline-block;
  background-image: url("/assets/img/logos/df_small.png");
  background-size: contain;
  width: $mobile-icons-size;
  height: $mobile-icons-size;
  transition-duration: $default-animation-time;
  &:hover {
    opacity: 0.5;
    transition-duration: $default-animation-time;
  }
}

.page-title {
  margin-bottom: 1em;
}

.nav {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__item {
    margin: 1em;
    &--first {
      margin-top: 0.25em;
    }
    &--last {
      margin-bottom: 0.25em;
    }
  }

  &__link {
    color: white;
    // Space out the underlines a bit
    text-decoration: none;
    border-bottom: 2px solid white;
    display: inline-block;
    &:hover {
      border-bottom: 2px solid $primary-50;
    }
  }

  &__toggle {
    height: $mobile-icons-size;
    width: $mobile-icons-size;
    float: right;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/assets/img/icons/menu.png");
    transition-duration: $default-animation-time;
    &:hover {
      opacity: 0.5;
      transition-duration: $default-animation-time;
    }
  }

}
