header {
  margin: 1em 0 0 0;
  text-align: center;
}

.logo {
  height: 250px
}

.page-title {
  margin-bottom: 1em;
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  display: inline-block;
  margin: 1em;
}
