body {
  @include mq($from: l) {
    background: url("/assets/img/background.jpg");
    background-attachment: fixed;
    background-size: cover;
  }
}

.main {
  padding: 1em $small-spacing 5em;
  background-color: $background;
  max-width: 1050px;
  @include mq($from: m)  {
    padding: 1em $medium-spacing;
  }
  @include mq($from: m) {
    margin: 0 auto;
  }
  @include mq($from: 1150px) {
    margin: 4em auto;
  }
}

.grid {
  @include container(12);
  &__content {
    @include mq(m, l) {
      @include span(6);
    }
    @include mq($from: l) {
      @include span(8);
    }
  }
  &__aside {
    @include mq(m, l) {
      @include span(6 last);
    }
    @include mq($from: l) {
      @include span(4 last);
    }
  }
}
