<hr class="squiggle squiggle--4">

<footer class="footer" role="contentinfo">
  <h2>Sponsors</h2>

    <ul class="grid nolist sponsors">
      <li>
        <a href="http://www.creativetourist.com/festivals-and-events/wonderwomen/">
          <img src="/assets/img/logos/wonderwomen.png" alt="Wonder Women Manchester">
        </a>
      </li>
      <li>
        <a href="http://phm.org.uk">
          <img src="/assets/img/logos/phm.png" alt="People's History Museum">
        </a>
      </li>
      <li>
        <a href="http://www.hebephillips.co.uk/">
          <img src="/assets/img/logos/hebe.png" alt="Hebe Grace Illustration">
        </a>
      </li>
    </ul>

  <p>Want to sponsor us? <strong><a href="mailto:info@dearfriend.org.uk">Get in touch!</a></strong></p>

  <div class="inverted">
    <h2 class="no-top-margin">Be social</h2>
    <hr class="squiggle squiggle--6 squiggle--6--inverted">
    Follow us on Twitter
    Keep up to date on Facebook
  </div>
</footer>
