$fontcolor: #3B3B3B;
$papercolor: #EAE2CF;

// Non outputted Sass
@import 'modules/functions';
@import 'modules/variables';
@import 'modules/mixins';

// Vendor files
@import 'vendor/normalize';
@import 'sass-mq'; // from npm
@import 'susy'; // from npm

// Partials
@import 'partials/base';
@import 'partials/layout';
@import 'partials/typography';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/inverted';
@import 'partials/buttons';
@import 'partials/squiggle';


ul.nolist {
  margin: 0;
  padding: 0;
}

.event__container {
  margin-bottom: 3em;
}

address {
  font-style: normal;
  font-size: 1.2em;
  text-align: center;
}
