$fontcolor: #3B3B3B;
$papercolor: #EAE2CF;

// Non outputted Sass
@import 'modules/functions';
@import 'modules/variables';
@import 'modules/mixins';

// Vendor files
@import 'vendor/normalize';
@import 'sass-mq'; // from npm
@import 'susy'; // from npm

// Partials
@import 'partials/base';
@import 'partials/container';
@import 'partials/grid';
@import 'partials/typography';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/inverted';
@import 'partials/buttons';
@import 'partials/squiggle';

body {
  @include mq($from: m) {
    background: url("/assets/img/background.jpg");
    background-attachment: fixed;
    background-size: cover;
  }
}


ul.nolist {
  margin: 0;
  padding: 0;
}

.main {
  margin: auto;
  padding: 1em;
  padding-bottom: 8em;
  background-color: $background;
  @include mq($from: m) {
    width: 80%;
    padding: 5%;
    margin-top: 5em;
    margin-bottom: 5em;
    padding-top: 2em;
    max-width: 65em;
  }
}

.event__container {
  margin-bottom: 3em;
}

address {
  font-style: normal;
  font-size: 1.2em;
  text-align: center;
}
