---
title: Come to one of our events, write a letter to your heroine, and help correct the balance of history.
description: Workshops and events
layout: default.hbs
permalink: false
---

<div class="grid">
  <div class="grid__content">
    <hr class="squiggle squiggle--4">
    {{#events}}
      {{{contents}}}
    {{/events}}
  </div>
  <div class="grid__aside">
    {{> social}}
  </div>
</div>
